{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'converter/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Unit Converter</h1>

        <div class="tabs">
            <a class="tab-button" href="{% url 'length-converter' %}">Length</a>
            <a class="tab-button" href="{% url 'weight-converter' %}">Weight</a>
            <a class="tab-button" href="{% url 'temperature-converter' %}">Temperature</a>
        </div>

    </div>
    <main role="main" class="container">
        {% block content %}{% endblock %}
      
    
</body>
</html>
